.bread {
  a {
    text-decoration: none;
  }
}

.link {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #303030;
}

.active {
  font-weight: 600;
  text-decoration: none;
}

